[Unit]
Description=Run the P.O.W.E.R. runtime updater hourly

[Timer]
OnCalendar=hourly
Persistent=true
RandomizedDelaySec=5min
AccuracySec=1min
Unit=power-updater.service

[Install]
WantedBy=timers.target
